@using Events.Application.Events.Responses

@model IEnumerable<EventResponseModel>

<h1 class="text-center">Events</h1>


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            <a asp-controller="User" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">View Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
